// padding
$padding-box: 0.5rem 1rem;
$padding-lg: 2rem;

// radius
$radius-md: 0.5rem;
$radius-lg: 1rem;
$radius-round: 50%;

// transition
$transition: all 0.2s ease;

// breakpoints
$bp-smallest: 500px;
$bp-small: 640px;
$bp-medium: 920px;
$bp-large: 1100px;
$bp-big: 1300px;
$bp-huge: 1600px;

// shadows
$shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
