@import "../../style/all";

.CustomButton {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: $padding-box;
  color: var(--text-white);
  background-color: var(--grey-dark);
  border-radius: $radius-md;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: var(--bg-light);
  }

  &.round {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: $radius-round;
    padding: 0;
  }

  &-primary {
    background-color: var(--primary-medium);
    border: 2px solid var(--primary-medium);
    &:hover,
    &:focus {
      color: var(--primary-medium);
      background-color: var(--primary-pale);
    }
    &:active {
      color: var(--text-white);
      background-color: var(--primary-dark);
    }
  }
  &-secondary {
    background-color: var(--secondary-medium);
    border: 2px solid var(--secondary-medium);
    &:hover,
    &:focus {
      color: var(--secondary-medium);
      background-color: var(--secondary-pale);
    }
    &:active {
      color: var(--text-white);
      background-color: var(--secondary-dark);
    }
  }
  &-transparent {
    background-color: var(--bg-light);
    border: 2px solid var(--grey-darker);
    color: inherit;
    &:hover,
    &:focus {
      color: var(--secondary-medium);
    }
    &:active {
      border: 2px solid var(--secondary-medium);
    }
  }
}
